body {
	overflow: hidden;
}

.no-border {
	background-color: transparent;
	border: 0px;
}

.no-border:focus {
	outline: 1px;
}

.static {
	color: gray;
}

.container {

}

.jumbotron {
	padding: 10px !important;
	width: 30%;
}

.swimlane {
	float: left;
	height: 48em;
	min-width: 230px;
	padding-left: 10px;
	padding-right: 10px;
	margin-right: 30px;
}

.swimlane h2 {
	text-align: center;
}

.swimlane .issue-list-container {
	min-height: 42em;
}

.issue-container {
	height: 75px;
	width: 255px;
	margin-bottom: 0.7em;
}

.issue-container .issue {
	padding: 5px;
	background-color: transparent;
}

.issue-container .issue.deleted {
	background-color: red;
}

.issue-container .issue .control-update {
	position: relative;
	float: right;
	top: 1px;
	right: -12px;
}

.issue-container .issue .controls-delete {
	position: relative;
	float: right;
	right: 5px;
	top: -12px;
	font-size: 30px;
}

.issue-container .issue .title {
	top: -10px;
	width: 80%;
	display: inline;
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 6px;
}

.issue-container .issue .created {
	font-size: 15px;
	display: inline-block;
}
