<!DOCTYPE html>
<html ng-app="nuissues">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>NUIssues</title>
	<link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.css"/>
	<link rel="stylesheet" href="node_modules/ng-sortable/dist/ng-sortable.css"/>
	<link rel="stylesheet" href="node_modules/ng-sortable/dist/ng-sortable.style.css"/>
	<link rel="stylesheet" href="css/style.css"/>
</head>
<body ng-controller="IssuesController">
<div class="container">
	<form class="form-group" ng-submit="createIssue()">
		<label>
			New issue
			<input type="text" class="form-control" ng-model="newIssue.title"/>
		</label>
	</form>
	<span id="board" ng-repeat="status in validStatuses">
		<div class="jumbotron swimlane">
			<h2>{{status}}</h2>
			<p ng-if="issues[status].length === 0">No issues!</p>
			<div as-sortable="swimlaneSortOptions" ng-model="issues[status]" class="pre-scrollable issue-list-container">
				<div class="issue-container" as-sortable-item ng-repeat="issue in issues[status]">
					<div as-sortable-item-handle ng-class="{issue: true, deleted: issue.deleted}">
						<input class="title no-border" ng-model="issue.title" ng-change="issue.changed = true" ng-blur="issue.changed = true"/>
						<span class="controls-delete">
							<a ng-if="!issue.deleted" class="delete" href="javascript:void(0)" ng-click="issue.deleted = true">x</a>
							<a ng-if="issue.deleted" class="restore" href="javascript:void(0)" ng-click="deleteIssue(issue)">✓</a>
						</span>
						<div class="created static">{{issue.created | date: 'short'}}</div>
						<!-- <a ng-if="issue.changed" href="javascript:void(0)" class="control-update" ng-click="updateIssue(issue)">Save changes</a> -->
						<a href="javascript:void(0)" class="control-update" ng-click="updateIssue(issue)">Save changes</a>
					</div>
				</div>
			</div>
		</div>
	</span>
</div>
<script>
	// Avoid iOS safari scrolling
	document.ontouchmove = function(event){
	    if (event.target.className !== 'jumbotron swimlane') {
	    	event.preventDefault();	
	    }
	}
</script>
<script src="node_modules/lodash/index.js"></script>
<script src="node_modules/angular/angular.js"></script>
<script src="node_modules/ng-sortable/dist/ng-sortable.js"></script>
<script src="js/module.js"></script>
<script src="js/issues/issues.controller.js"></script>
<script src="js/issues/issues.service.js"></script>
</body>
</html>